extends layout

block extraHeader
    <script src="/js/jquery-2.1.3.min.js"></script>

block content
    .container-fluid
        .row
            .col-xs-10.col-sm-6.col-md-4.center.fondo
                h1 Panel de usuario
                form.form-nuevo-buses.text-center(action="/crearReservacion", method="post")
                    h2 Crear reservación
                    br
                    br
                    input(type="hidden", name="idUsuario", value="#{id}")
                    button.btn.btn-large.btn-primary(type="submit" name="nuevo") Nueva reservación
                    br
                    br
                br
                br
                form.form-baja-buses.text-center(action="/realizarPago", method="post")
                    h2 Comprar ticket
                    br
                    button.btn.btn-large.btn-primary(type="submit") Adquirir boleto
                    br
                    br
                br
                br
                form.form-modifica-buses.text-center(action="/modificar", method="post")
                    h2 Consultar viaje
                    br
                    button.btn.btn-large.btn-primary(type="submit") Buscar factura
                    br
                    br
                br
                br
                    
                a(href='/') Cerrar sesión
