extends layout

block content
    .container-fluid
        .row
            .col-xs-10.col-sm-6.col-md-4.center
                form.form-signin.text-center(action="/login", method="post")
                    h2.custom Inicio de sesión
                    p(style="color:FireBrick;") #{error}
                    br
                    input.input-block-level.center(type="text", name="nombre", placeholder="Usuario" required)
                    br
                    br
                    input.input-block-level.center(type="password", name="password", placeholder="Contraseña" required)
                    label.checkbox.
                        <input type="checkbox" value="remember-me" /> Recordarme
                    button.btn.btn-large.btn-primary(type="submit") Iniciar sesión
                    br
                    br
    