doctype html
html
  head
    title= titulo
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/style.css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    block extraHeader
  body
    block content
    include footer