extends layout

block content
  h1= title
  p Pantalla de login
  p El nombre es #{nombre}
  p El password es #{password}
    form(method="post", action="sesiones")
        input(type="text",name="sesion",placeholder="Introduce algo")
        input(type="submit",value="Crear sesión")
