body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #373c42;
}

a {
  color: #00B7FF;
}

.bloque h1{
    color: #ffffff;
}

.form-signin{
    background-color: #85a9e3;
    border-color: #337ab7;
    border-style: solid;
    border-radius: 25px;
}

.form-nuevo-buses{
    background-color: #5cb85c;
    border-color: #4cae4c;
    border-style: solid;
    border-radius: 25px;
}

.form-nuevo-buses h2{
    color: #fff;
    font-family: 'Roboto';
}

.form-baja-buses{
    background-color: #d9534f;
    border-color: #d43f3a;
    border-style: solid;
    border-radius: 25px;
}

.form-baja-buses h2{
    color: #fff;
    font-family: 'Roboto';
}

.form-modifica-buses{
    background-color: #f0ad4e;
    border-color: #eea236;
    border-style: solid;
    border-radius: 25px;
}

.form-modifica-buses h2{
    color: #fff;
    font-family: 'Roboto';
}

.input-block-level{
    width: 50%;
}

.center {
    float: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

footer {
    color: #fff;
}

@font-face {
    font-family: 'Roboto'; /*a name to be used later*/
    src: url('/fonts/Roboto-Regular.ttf'); /*URL to font*/
}

.custom {
    font-family: 'Roboto';
    color: #fff;
}

.fondo {
    
    font-family: 'Roboto';
    color: #000;
    background-color: #fff;
    border-style: solid;
    border-radius: 25px;
    
}

